#h2 {
    color: rgb(255, 0, 0);
}

#link {
    color: red;
}
#reeldeal, #sottb, #wds, #portfolio, #quiz, #note{
    margin: 10vh;
    margin-left: 5vh;
    border-radius: 4px;
    width: 500px;
}

#nav {
    background-color: lightblue;
}

#foot {
background-color: rgb(255, 0, 0);
}
#title {
    color: rgb(255, 0, 0);
    font-size: larger;
}